<launch>
    <arg name="world" default="pull_door_2"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find qm_gazebo)/worlds/$(arg world).world"/>
      <arg name="paused" value="true"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="debug" value="false"/>
      <arg name="headless" default="false"/>
    </include>


</launch>